
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        .has-error input {
            border-color: red;
        }

        .has-error select {
            border-color: red;
        }

        .has-error textarea {
            border-color: red;
        }
        .error-message {
            color: red;
            position: absolute;
            font-size: 13px;
        }
        .form-group {
            position: relative;
            margin-bottom: 25px;
        }
    </style>
</head>
<body class="content">
    <div class="card">
        <div class="card-header">
            <h6>Create User</h6>
        </div>
        <div class="card-body">
            <form name="myForm" ng-submit="AddUser()">
                <div class="row">
                     <!--Họ tên--> 
                    <div class="mb-4 form-group" ng-class="{'has-error': myForm.Name.$dirty && (myForm.Name.$error.required || !(Name | fullnameValidate))}">
                        <label class="form-label">Họ tên:</label>
                        <input type="text" class="form-control" required placeholder="Vui lòng nhập họ tên" name="Name" ng-model="Name">
                        <span class="ms-2 error-message" style="color:red;" ng-show="myForm.Name.$dirty && myForm.Name.$error.required">* Vui lòng nhập lại họ tên</span>
                        <span class="ms-2 error-message" style="color:red;" ng-show="Name && !(Name | fullnameValidate)">* Họ tên không được chứa số và các ký tự đặc biệt</span>
                    </div>

                     <!--Số điện thoại--> 
                    <div class="mb-4 form-group" ng-class="{'has-error': myForm.numberPhone.$dirty && (myForm.numberPhone.$error.required || !(numberPhone | phoneValidate))}">
                        <label class="form-label">Số điện thoại:</label>
                        <input type="text" class="form-control" required placeholder="Vui lòng nhập số điện thoại" name="numberPhone" ng-model="numberPhone">
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="myForm.numberPhone.$dirty && myForm.numberPhone.$error.required">* Vui lòng nhập lại số điện thoại</span>
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="numberPhone && !(numberPhone | phoneValidate)">* Vui lòng nhập đúng định dạng số điện thoại</span>
                    </div>

                     <!--Ngày sinh--> 
                    <div class="mb-4 form-group" ng-class="{'has-error': myForm.Date.$dirty && (myForm.Date.$error.required || !validDateOfBirth(Date) || !Date)}">
                        <label class="form-label">Ngày sinh:</label>
                        <input type="date" class="form-control" required placeholder="Vui lòng nhập số điện thoại" name="Date" ng-model="Date">
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="(myForm.Date.$dirty && myForm.Date.$error.required) || (myForm.Date.$dirty && !Date)">* Vui lòng chọn lại ngày sinh</span>
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="Date && !validDateOfBirth(Date)">* Tuổi phải đủ 15</span>
                    </div>

                     <!--Giới tính--> 
                    <div class="mb-4 " ng-class="{'has-error': myForm.Gender.$dirty && myForm.Gender.$error.required}">
                        <label class="form-label">Giới tính:</label><br />
                        <div class="d-inline-flex align-items-center me-3">
                            <input type="radio" value="Nam" name="Gender" ng-model="Gender" required>
                            <label class="ms-2" for="Male">Male</label>
                        </div>
                        <div class="d-inline-flex align-items-center">
                            <input type="radio" value="Nữ" name="Gender" ng-model="Gender" required>
                            <label class="ms-2" for="Female">Female</label>
                        </div>
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="myForm.Gender.$dirty && myForm.Gender.$error.required">* Vui lòng chọn lại giới tính</span>
                    </div>

                    <!--Thành phố--> 
                    <div class="mb-4 form-group" ng-class="{'has-error': myForm.City.$dirty && myForm.City.$error.required}">
                        <label class="form-label">Tỉnh thành: </label>
                        <select class="form-control select" required name="City" ng-model="City">
                            <option value="">--Chọn thành phố--</option>
                            <option value="Cần Thơ">Cần Thơ</option>
                            <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Đà Nẵng">Đà Nẵn</option>
                            <option value="Hải Phòng">Hải Phòng</option>
                        </select>
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="myForm.City.$dirty && myForm.City.$error.required">* Vui lòng chọn lại thành phố</span>
                    </div>

                    <!--Username--> 
                    <div class="mb-4 form-group" ng-class="{'has-error': myForm.Username.$dirty && (myForm.Username.$error.required || !(Username | validUsername))}">
                        <label class="form-label">User Name</label>
                        <input type="text" class="form-control" required placeholder="Vui lòng nhập User name" name="Username" ng-model="Username" />
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="myForm.Username.$dirty && myForm.Username.$error.required">* Vui lòng nhập lại user name</span>
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="Username && !(Username | validUsername)">* User name không được chứa khoảng trắng hoặc ký tự có dấu</span>
                    </div>

                    <!--Password--> 
                    <div class="mb-4 form-group" ng-class="{'has-error': myForm.Password.$dirty && (myForm.Password.$error.required || !(Password | validatePassword))}">
                        <label class="form-label">Password:</label>
                        <input type="password" class="form-control" required placeholder="Vui lòng nhập password" name="Password" ng-model="Password">
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="myForm.Password.$dirty && myForm.Password.$error.required">* Vui lòng nhập lại password</span>
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="Password && !(Password | validatePassword)">* Mật khẩu phải có một ký tự thường, một ký tự in hoa, một ký tự số, một ký tự đặc biệt vd: @$!%*?&, không được để khoản trống, có ít nhất từ 8 ký tự và tối đa 16 ký tự</span>
                    </div>

                    <!--Re Password--> 
                    <div class="mb-4 form-group" ng-class="{'has-error': myForm.rePassword.$dirty && (myForm.rePassword.$error.required || myForm.rePassword.$error.passwordVerify)}">
                        <label class="form-label">Re-Pass:</label>
                        <input type="password" class="form-control" required placeholder="Vui lòng nhập password" name="rePassword" ng-model="rePassword" password-verify="Password">
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="myForm.rePassword.$dirty && myForm.rePassword.$error.required">* Vui lòng xác nhận lại password</span>
                        <span class="ms-2 mt-1 error-message" style="color:red;" ng-show="myForm.rePassword.$error.passwordVerify">* Mật khẩu không khớp</span>
                    </div>

                </div>
                <div class="text-end">
                    <div class="float-end me-2" style="width:103px;" data-bs-popup="tooltip" title="Bạn chưa nhập đủ thông tin" data-bs-placement="bottom">
                        <button type="submit" class="btn btn-primary ms-2 text-end" ng-disabled="myForm.Name.$error.required || Name && !(Name | fullnameValidate) || myForm.numberPhone.$error.required || numberPhone && !(numberPhone | phoneValidate)|| myForm.Date.$error.required || Date && !validDateOfBirth(Date) || myForm.Date.$invalid || myForm.City.$error.required || myForm.Username.$error.required || Username && !(Username | validUsername) || myForm.Password.$error.required || Password && !(Password | validatePassword) || myForm.rePassword.$error.required || myForm.rePassword.$error.passwordVerify ">Submit <i class="ph-play-circle ms-2"></i></button>
                    </div>
                    <div>
                        <a class="btn btn-success" href="/Home/List">List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>